.hero {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 2rem 1rem;
	min-height: 65vh;
	background: var(--color-grey-700);
	text-align: center;
}

.heroImage {
	position: relative;
	display: block;
	overflow: hidden;
	min-width: 10rem;
	max-width: 20rem;
	margin: 0 auto 0 auto;
	border: 2px inset var(--color-primary-200);
	border-radius: 50%;
	object-fit: cover;
}

.heroImage img {
	border-radius: 50%;
	object-fit: contain;
}

.heroTitle {
	margin: 1rem 0;
	color: white;
}

.heroSubTitle {
	max-width: 55rem;
}
