.postHeader {
	display: flex;
	align-items: center;
	flex-wrap: wrap-reverse;
	background: hsla(0, 0%, 10%, 1);
}

.postTitle {
	flex: 1 1 50%;
	min-width: 30rem;
	text-align: center;
}

.postImage {
	flex: 1 1 50%;
	min-width: 30rem;
	margin: auto;
}
